* {
	margin: 0px;
	font-family: "Heiti SC", "Helvetica", sans-serif;
	font-size: 14px;
}

header {
    padding-top: 30px;
}

header, #composer {
    text-align: center;
}

audio {
    position: fixed;
    top: 10px;
    right: 10px;
}

#title {
    font-size: xx-large;
    margin-bottom: -10px;
}

.title {
    font-family: fantasy;
}

#composer {
    padding: 20px 0px;
    font-weight: bold;
}

#summarycontainer {
    line-height: 140%;
    text-align: center;
}

#programnotes, #quickfacts {
    display: inline-block;
    border: 2px solid black; 
    margin: 0px 5px;
    padding: 10px;
    text-align: justify;
}

.error {
    text-align: center;
    margin-top: 100px;
    font-size: large;
}

tspan {
    font-family: "Lucida Calligraphy", cursive;
}

#processing {
    display: none;
}

strong {
    font-weight: bolder;
    font-size: medium;
}

.listannotation ol > li, .annotationcreator textarea {
	padding: 10px;
}

.listannotation {
	display: inline-block;
	position: absolute;
}

.listannotation ol {
	padding-left: 0px;
}

.listannotation ol > li {
	float: left;
	clear: both;
	border-radius: 10px;
	margin-top: 5px;
	max-width: 310px;
	text-align: justify;
	line-height: 120%;
	list-style: none;
}

.annotationcreator {
	display: inline-block;
	position: absolute;
	z-index: 99;
	width: 320px;
	height: 120px;
	border-radius: 5px;
}

.annotationcontainer {
	margin: 10px 0px;
        min-height: 10px;
}

.categories {
	display: block;
	position: relative; /* for jiggle */
	overflow: hidden;
	text-align: center;
}

.categories > div {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
}

.categoryhighlight, .none, .categories > div:hover {
	color: #F7F7F7;
}

.annotationcreator textarea {
	position: relative; /* so jiggle works */
	resize: none;
	width: 290px;
	height: 50px;
	color: black;
}

.annotationcreator textarea:focus {
	outline: solid 1px;
	outline-color: black;
}

.selectbox {
	position: absolute;
	background-color: rgba(184, 181, 255, 0.2);
}

.annotationhighlight {
	box-shadow: 0 0 0.5em 3px gold;
	border: 1px solid black;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.melody {
	background: #FF4A68;
}

.harmony {
	background: #FFE800;
}

.rhythm {
	background: #2E89FF;
}

.form {
	background: #69CC3B;
}

.none {
	background: #1F1F1F;
}

.melodyharmony {
	background: repeating-linear-gradient(
		45deg,
		#FF4A68,
		#FF4A68 10px,
		#F0E800 10px,
		#F0E800 20px
	);
}

.melodyrhythm {

}

.melodyform {

}

.harmonyrhythm {

}

.harmonyform {

}

.rhythmform {

}

.annotationsubmit {
	display: block;
	height: 20px;
	margin: 5px 0px;
	padding-top: 5px;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
}

.annotationsubmitinvalid {
	background-color: rgba(247, 247, 247, 0.5);
}

.annotationsubmitvalid:hover {
	box-shadow: 0px 0px 1px 1px black;
}
